.proposals__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 90px 0;
}

.proposals__title {
    color: var(--dark-text-color);
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    background-color: var(--background-color-for-proposals-section-line-decoration);
}

.proposals__item {
    text-align: center;
    width: 300px;
}

.proposals__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.proposals__item-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--black-text-color);
}

.proposals__item-description {
    font-size: 18px;
    font-weight: 450;
    color: var(--black-text-color);
}

.proposals__item-link {
    text-decoration: none;
    font-size: 19px;
    color: var(--dark-text-color);
    font-weight: 600;
}


@media (min-width: 800px) {
    .proposals__item-title {
        font-size: 25px;
    }

    .proposals__item-description {
        font-size: 20px;
        font-weight: 450;
    }

    .proposals__item-link {
        text-decoration: none;
        font-size: 20px;
        color: var(--dark-text-color);
        font-weight: 600;
    }
}

@media (min-width: 1000px) {
    .proposals__item {
        width: 400px;
    }
}

.img-size {
    /* 	padding: 0;
	margin: 0; */
    height: 450px;
    width: 700px;
    background-size: cover;
    overflow: hidden;
}

.modal-content {
    width: 700px;
    border: none;
}

.modal-body {
    padding: 0;
}


.proposals-carousel {
    position: relative;
    max-width: 80%;
    margin: 90px auto 60px;
    overflow: hidden;

}

.proposals-carousel__slide {
    list-style-type: none;
}

.proposals-carousel__track-container {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.proposals-carousel__track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}


.proposals-carousel__button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.proposals-carousel__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.myDialog-proposals__dialog {
    border: none;
    margin: auto;
    width: 95%;
    max-width: 800px;
    border-radius: 30px;
    border: 3px solid var(--decoration-line-color-black);
}


.proposals-carousel__button--close {
    background-color: transparent;
    position: absolute;
    top: 10%;
    right: 5%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

/* .proposals-carousel__track{
    transition: all 0.5s ease-in-out;
} */


.proposals-carousel__slide h4, .proposals-carousel__slide p{
  font-size: 1.5rem;
  text-align: left;
}

.proposals-carousel__slide h4{
    color: var(--green-text-color);
    text-align: center;
    margin: 10px 0;
}