<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Всі вакансії</title>
    <link rel="shortcut icon" href="../../web-icon.png" type="image/x-icon">
    <link href="./css/vacancies.css" rel="stylesheet">
    </link>
    </link>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <header data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="../global-elements/global.header.partial.html">
    </header>
    <section>
        <div class="jobs__header">
            <div class="job__header-container">
                <h1 class="job__title">Всі вакансії</h1>
                <img src="./img/work-header-decoration.svg" alt="Перо" class="job__suitcase">
            </div>
            <p class="job__description">Перегляньте всі актуальні вакансії та знайдіть ідеальну можливість для себе! Ми
                пропонуємо різноманітні
                позиції для
                студентів та досвідчених фахівців, де ви зможете реалізувати свої навички та розвиватися в професійному
                середовищі.</p>
        </div>
        <div class="job__card-container">
            <div class="window-loading__spinner"></div>
        </div>
    </section>
    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="../global-elements/global.footer.partial.html">
    </footer>
    <aside data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="../../web/global-elements/global.arrow.partial.html">
    </aside>
    <script src="./js/vacancies.js"></script>
</body>

</html>