.news-page-all {
    margin: 30px;
    background-color: var(--background-color-green-light);
    border: 2px solid var(--dark-text-color);
    border-radius: 30px;
}

.filter-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid var(--decoration-line-color);
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;

}

.filter-buttons button.active {
    background-color: var(--background-color-dark-green);
    color: white;
}

.article {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: none;
}

.article.active {
    display: block;
}

.filter-buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-green-bright);
    border-radius: 29px 29px 0 0;
    border-bottom: 2px solid var(--dark-text-color);
    padding: 30px;
}

.news-card-all {
    border: 2px solid var(--dark-text-color);
    border-radius: 10px;
    background-color: var(--news-card-section-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 20px 0px;
    max-width: 250px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.news-page-all__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.news-card-all__title {
    background-color: var(--news-card-descriptionbackground-color);
    padding: 10px;
    width: 100%;
    color: var(--bright-text-color);
    font-weight: 500;
}

.news-card-all__img {
    border-radius: 10px;
}

.news-card-all__button {
    background-color: var(--button-dark-color);
    color: var(--bright-text-color);
    font-weight: 450;
    transition: all 0.3s;
    border-radius: 5px;
}

.news-card-all__button:hover {
    background-color: var(--button-dark-color-hover);

}