@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-dark-color: #1F545B;
  --bright-color-white: #D7FAFF;
  --dark-text-color: #1F545B;
  --dark-background-color: #1F545B;
  --black-text-color: #000000;
  --decoration-line-color-black: #000000;
  --decoration-line-color-green-light: #4AA4B0;
  --background-color-green-light: #4AA4B0;
  --text-color-green-light: #4AA4B0;
  --background-color-green-bright: #F0FFFE;
  --decoration-line-color: #1F545B;
  --corousel-button: #1F545B;
  --background-color-dark-green: #1F545B;
  --button-dark-color-hover: #163c41;
  --background-color-dark: #163c41;
  --text-dark-color-green: #163c41;
  --dropdown-menu-background-color: #ffffff;
  --bright-text-color: #ffffff;
  --bright-decoration-color: #ffffff;
  --bright-button-color: #ffffff;
  --bright-background-color: #ffffff;
  --background-drop-header-menu: #83CFDA;
  --hero-section-background: #E3F9F7;
  --bright-button-color: #ffffff;
  --bright-button-hover-color: #ffffff8a;
  --background-color-for-text-about-us-section: #CDEEEB;
  --background-color-for-image-about-us-section: #ffff;
  --background-color-for-proposals-section-line-decoration: #C9DCDA;
  --accordion-light-background-color: #F0FFFE;
  --accordion-darker-background-color: #CDEEEB;
  --accordion-hover-background-color: #b3dad7;
  --accordion-dark-background-color: #aadcd7;
  --team-section-background-color: #F0FFFE;
  --team-section-form-update-message-success: #43b143;
  --border-success: #80e080;
  --background-color-succes: #c3f4c3;
  --team-section-form-update-message-warning: #ffa06c;
  --team-section-form-update-message-error: #ff6c6c;
  --calendar-section-form-update-message-error: #ff6c6c;
  --incorrect-background: #fce6e6;
  --incorrect-border: #ff6c6c;
  --login-form-message-error: #ff6c6c;
  --input-error-background-color: #f8d4d4;
  --footer-background-color: #D0EDEB;
  --table-background-color: #D0EDEB;
  --button-decoration-color: #1F545B;
  --green-text-color: #1F545B;
  --form-decoration-color: #1F545B;
  --button-decoration-color: #1F545B;
  --form-registration-message-success: #80e080;
  --form-registration-message-error: #ff6c6c;
  --indicator-background-color-done-step: #4AA4B0;
  --indicator-background-color-current-step: #1F545B;
  --news-card-section-color: #F0FFFE;
  --news-card-descriptionbackground-color: #4AA4B0;
  --time-background-color: #4AA4B0;
  --button-color-green-ligth: #4AA4B0;
  --background-welcome-modal: #1F545B;
  --input-search-job-color: #CDEEEB;
  --input-search-job-button-icon: #1F545B;
  --input-search-job-button: #75B0B8;
  --card-serch-job-background: #4AA4B0;
  --card-serch-job-background-accent: #ffff;
  --job-search-section-background: #F0FFFE;
  --profile-settings-section-background: #F0FFFE;
  --profile-settings-section-background-mobile: #DFF4F2;
  --modal-warning-background: #ff6c6c;
  --arrow-color-background: rgba(172, 234, 235, 0.8);
  --article-background-color: #45929C;
  --header-article-background-color: #5CC7D5;
  --header-article-concept-color: #5CC7D5;
  --subtext-article-background-color: #DEFAFD;
  --main-text-article-background-color: #45929C;
  --footer-article-background-color: #C0F8FF;
  --job-article-background-color: #F0FFFE;
  --job-article-header-background-color: #1691A1;
  --article-accent-color: #1691A1;
  --border-faq-section: #DFF4F2;
  --calendar-bg-color: #CDEEEB;
  --calendar-font-color: #000000;
  --weekdays-border-bottom-color: #404040;
  --calendar-date-hover-color: #505050;
  --calendar-current-date-color: #4aa3ae;
  --calendar-decorate-date-color: #4aa3ae;
  --calendar-today-color: #0d3f45;
  --calendar-today-innerborder-color: transparent;
  --calendar-nextprev-bg-color: transparent;
  --next-prev-arrow-color: #FFF;
  --calendar-border-radius: 16px;
  --calendar-prevnext-date-color: #7b7b7b font-size: 16px;
  --background-articles-color: #CDEEEB;
  --background-interview-color-header1: #84CFD1;
  --background-interview-color-header2: #D0EDEB;
  --interview-background-color: #F0FFFE;
  --calendar-busy-color: #f6bbbb;
  --calendar-time-busy-color: #f6bbbb;
  --count-down-background-color: #DFF4F2;
  --calendar-input-background-color: #DFF4F2;
  --calendar-section-background-color: #1691A1;
  --table-border-color: #0f3e44;
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 span {
  font-family: Marcellus SC, serif;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}



button {
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-family: Montserrat,
    sans-serif;
}

li {
  list-style-type: none;
}

body {
  min-width: 320px;
}

input {
  font-family: Montserrat,
    sans-serif;
}


.lazy-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.lazy-section * {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.lazy-section.loaded {
  opacity: 1;
  transform: translateY(0);
}

.lazy-section.loaded * {
  opacity: 1;
  transform: translateY(0);
}